@tailwind base;
@tailwind components;
@tailwind utilities;





.dark{
    background-color: rgb(23, 21, 21) !important;
    color: white !important;
    
}

  html {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.filter-blue {
  filter: brightness(0) saturate(100%) invert(32%) sepia(94%) saturate(1025%) hue-rotate(197deg) brightness(99%) contrast(92%);
}

.filter-gray {
  filter: brightness(0) saturate(100%) 
          invert(34%) sepia(0%) saturate(0%) 
          hue-rotate(0deg) brightness(90%) contrast(85%);
}